# Ignora archivos del sistema Mac 
.DS_store

# Ignora la carpeta node_modules
node_modules

# Ignora todos los archivos de texto
*.txt

# Ignora la carpeta de requests con archivos de Rest Client
requests

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache
.vercel

# Ignora archivos de http
invoicesRequest.http
LOCALRequest.http